div.firstlvl {
	position: fixed;
}
.parent {
height: 800px;
background: #CCCCCC;
display: flex;
align-items: center;
}
.container  {
    position: relative;
    width: 100%;
}
.container img {
    width: 100%;
    height: auto;
}
img .lvl2 {
    width: 80%;
    height: 70%;
}

.container .btn1 {
    position: absolute;
    width: 6%;
    height: 16%;
    top: 72%;
    left: 45%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color: transparent;
    color: transparent;
    text-align: center;
	z-index:2;
	border: none;
}
.container .btn2 {
        position: absolute;
        width: 4%;
        height: 24%;
        top: 42%;
        left: 82%;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        background-color: transparent;
        color: transparent;
		z-index:2;
		border: none;
    }
.container .btn3 {
        position: absolute;
        width: 3%;
        height: 55%;
        top: 48%;
        left: 98.5%;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        background-color: transparent;
        color: transparent;
		z-index:2;
		border: none;
    }
.container .btn4 {
        position: absolute;
        width: 3%;
        height: 12%;
        top: 33%;
        left: 2%;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        background-color: transparent;
        color: transparent;
		z-index:2;
		border: none;
    }
.container .btn5 {
        position: absolute;
        width: 3%;
        height: 5%;
        top: 72%;
        left: 68.5%;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        background-color: transparent;
        color: transparent;
		z-index:2;
		border: none;
    }
.container .btn6 {
        position: absolute;
        width: 5%;
        height: 10%;
        top: 74%;
        left: 48.5%;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        background-color: transparent;
        color: transparent;
		z-index:2;
		border: none;
    }
.container .btn7 {
        position: absolute;
        width: 3%;
        height: 6%;
        top: 34%;
        left: 55%;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        background-color: transparent;
        color: transparent;
		z-index:2;
		border: none;
    }
.container .btn8 {
        position: absolute;
        width: 5%;
        height: 5%;
        top: 31%;
        left: 32.5%;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        background-color: transparent;
        color: transparent;
		z-index:2;
		border: none;
    }
.container .btn9 {
        position: absolute;
        width: 4%;
        height: 5%;
        top: 19%;
        left: 73%;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        background-color: transparent;
        color: transparent;
		z-index:2;
		border: none;
    }
.container .btn10 {
        position: absolute;
        width: 2.5%;
        height: 3%;
        top: 61%;
        left: 32%;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        background-color: transparent;
        color: transparent;
		z-index:2;
		border: none;			
    }
.container .btn11 {
        position: absolute;
        width: 11%;
        height: 11%;
        top: 87.5%;
        left: 33%;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        background-color: transparent;
        color: transparent;
		z-index:2;
		border: none;		
    }
.container .btn12 {
        position: absolute;
        width: 6%;
        height: 4%;
        top: 92%;
        left: 78%;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        background-color: blue;
        color: blue;
		z-index:2;
		border: none;
    }
.container .btn13 {
        position: absolute;
        width: 100%;
        height: 100%;
        top: .01%;
        left: .01%;
        background-color: transparent;
        color: transparent;
		z-index:1;
    }
.leftsidepadding {
padding-left: 200px;
}

.HomeButton {
    background-color: #808080;
    width: 5%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-width: 1px;
    text-align: center;
    padding-bottom: 5px;
}

